@import '../colorsPartials';
@import '../mixinsPartials';


.accountInformation{
    width:350px;
    display: flex;
    flex-direction: column;
    // row-gap: 7.5px;
    @include border-styles;
    margin: 20px auto;
    // justify-content: flex-end;
    align-items:center;
    // align-content:space-around;
    text-align: center;
}

#accountIcon{
    font-size: 5rem;
    color: $lightGreyColour;
    margin: 6px 0px;
}

#deleteAccount{
    width: 70%;
    margin-bottom: 6px;
}

#deleteAccountLink{
    text-decoration: none;
    color: white;
}

.updateInfoSection{
    opacity:0;
    width:350px;
    // row-gap: 7.5px;
    @include border-styles($lightGreyColour);
    margin: 0px auto;
    // padding: 10px;
}

.updateButton{
    margin: 10px 0px;
    width: 285px;
}

.updatingButton{
    margin: 0px 5px;
}

.updatePasswordSection{
    opacity:0;
    margin: 0px auto;
    @include border-styles($lightGreyColour);
    width: 350px;
    height: 170px;
    justify-content: space-evenly;
    align-items: center;
    position: relative;

    input{
        @extend %input;
        width: 80%;

        &:focus{
            outline: none;
        }

        &::placeholder{
            font-size: 0.8rem;
        }

        &:focus::placeholder{
            @extend %input-placeholder;
        }
    }
}

.updateEmailSection{
    opacity:0;
    margin: 0px auto;
    @include border-styles($lightGreyColour);
    width: 350px;
    height: 170px;
    justify-content: space-evenly;

    input{
        @extend %input;
        width: 80%;
        position: relative;

        &:focus{
            outline: none;
        }

        &::placeholder{
            font-size: 0.8rem;
        }

        &:focus::placeholder{
            @extend %input-placeholder;
        }
    }
}

.notVisible{
    position: absolute;
    opacity: 0;
    transform: translate(200%, 0%);
    // transition: opacity 1.5s ease;
}

.visible{
    position: static;
    opacity: 1;
    @extend %mixin-flex;
    transition: opacity 2.5s ease, transform 2.5s ease;
}