@import '../colorsPartials';
@import '../mixinsPartials';

.footer{
    width: 330px;
    height: 100px;
    margin: 20px auto;
    @include border-styles($lightGreyColour);
    text-align: center;
    padding:10px;

    h5{
        font-size: 0.9rem;
        font-weight: 400;
        margin-bottom: 15px;
        // text-align: center;
    }

    .pageFooterButton{
        text-align: center;
        display: inline-block;
        size: 2rem;
        padding: 0px 0px;
        min-width: 125px;
        height:40px;
        // text-align: ;

        p{
            display:inline-block;
            vertical-align:middle;
            margin: 0px 0px 0px 6px;
            font-size: 0.9em;
            text-align: left;
        }

        .smallButtonText{
            font-size: 0.6rem;
        }

        .footerButtonIcon{
            display:inline-block;
            vertical-align:middle;
            font-size: 1.5em;
            margin-right: 6px;
        }
    }

    .left {
        margin-right: 3.5px;
        border-radius: 9px;
    }
    .right{
        margin-left:3.5px
    }

    h6{
        font-size: 0.75rem;
    }
}